body {
    font-family: monospace;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background-image: linear-gradient(white 1.2px, transparent 1px), linear-gradient(to right, white 1.2px, transparent 1px);
    background-size: 20px 20px;
}

header {
    text-align: center;
    padding: px;
}

header h1 {
    font-size: 5.5em;
    color: #333;
    font-family: "Lucida Console", monospace;
    padding: 0px;
    margin: 70px auto 40px 95px;
}

header p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    text-align: justify;
    font-family: monospace;
    padding:px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 5px 0;
    position: relative;
}

nav ul li a {
    font-size: 1em;
    color: #333;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.1s ease-in-out;
    margin:0px;
}

nav ul li a:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

section {
    margin: 0px 0;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #ddd;
    color: #333;
    margin-top:10px:
}

#viewer-count {
    position: absolute;
    bottom: 80px;
    right: 20px;
    font-size: 1em;
    color: #333;
}

/* Rocket Bullet Points */
ul.rocket-bullet {
    list-style: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    margin-right:10.5em;
}

ul.rocket-bullet li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    left:  92px;
}

ul.rocket-bullet li::before {
    content: '🚀';
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
}

.rocketGame {
    font-size: 40px; /* Decrease the size of the rocket icon */
    transition: transform 0.1s ease-in-out; /* Add transition for scaling */ 
    text-decoration: none;
}

.speech-bubble {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px; /* Adjust padding */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px; /* Adjust font size */
    max-width: 200px; /* Adjust max width if needed */
    z-index: 999; /* Ensure it appears above other elements */
    display: flex;
    justify-content: space-between;
}

.rocketGame:hover {
    transform: scale(1.2); /* Scale the rocket icon on hover */
    transition: transform 0.1s ease-in-out; /* Add transition for scaling */
}

/* Smooth Dropdown Menu */
.dropdown {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.dropdown.active {
    max-height: 1000px; /* Adjust based on content length */
    opacity: 1;
}

/* Sun and Moon */
#sun, #moon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

#sun {
    background: yellow;
    top: 0;
    left: 0;
}

#moon {
    background: lightgray;
    top: 0;
    right: 0;
    display: none;
}

body.night #sun {
    display: none;
}

body.night #moon {
    display: block;
}

/* Night Sky Around Moon */
body.night #moon::after {
    content: '';
    position: absolute;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    background: url('stars.png') no-repeat;
    background-size: cover;
    border-radius: 50%;
    top: -75px; /* Adjust to center the background */
    left: -75px; /* Adjust to center the background */
    z-index: -1;
}

/* Resume css*/
     

        .resume h1 {
            font-size: 4em;
            color: #333;
            font-family: "Lucida Console", monospace;
            top margin : 10px;        }

        .container1 {
            width:250px;
            float: left;
            text-align:justify;
            font-size: 1.1em;
            margin: 0px auto;
            padding: 20px;
        }

        .container2, .container3 {
            font-size: 1.1em;
            max-width: 500px;
            margin: 20px auto;
            color: #333;
            text-align: justify;
            font-family: monospace;
           padding: 20px;


        }

         .container4 {
            width:250px;
            float: right;
            text-align:justify;
            font-size: 1.1em;
            margin:0px auto 200px ;
                       padding: 20px;

        }


        h2 {
            font-size: 2em;
            font-family:monospace;
            text-align:center;
        }


        h3 {
            font-size: 1.2em;
            
        }
        
        .NASBS {
    font-weight: bold;
    color: #b71c1c; /* Darker red color */
    font-size: 16px; /* Adjust font size to match the image */
    text-transform: uppercase; /* Ensure all letters are uppercase */
    font-family: Arial, sans-serif; /* Choose a similar font family */
    text-shadow: -2px 2px 3px rgba(0,0,0,0.7); /* Distinct and dark shadow on the left side */
}

.NASBS a,
.NASBS a:visited {
    color: #b71c1c; /* Red color for both regular and visited links */
    text-decoration: none; /* Remove underline from links */
}
              .NASBSlogo {
            height:3.5em; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
           }

        


        ul.resume {
            list-style-type: disc;
            margin-left: 20px;
            font-family: monospace;
        }

        ul.resume li {
            font-size: 1em;
            font-family: monospace;
            color: #333;


        }

         /*company logo*/
         a {

            text-decoration: none; /* Remove underline from links */
        }
 
        .company-logo {
            height: 28px; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
            margin-bottom: px;
        }
          
         .NAYAPATRIKAlogo{
            height: 30px; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
            margin-bottom: px;
        }
          


        .SSlogo
        {
         height:5.8em; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
           }
           
        
    .BCUlogo
        {
         height:5em; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
            margin-bottom: 10px;
            margin-top:0px;
           }
          
            
    .NPHSBS {
    font-weight: bold;
    color: Darkblue;
    font-size: 17px; /* Adjust font size to match the image */
    text-transform: uppercase; /* Ensure all letters are uppercase */
    font-family: Arial, sans-serif; /* Choose a similar font family */
}
       .NPHSBSlogo{
         height:3.5em; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
           
           }
 
.NPHSBS a,
.NPHSBS a:visited {
    color:Darkblue; /* Red color for both regular and visited links */
    text-decoration: none; /* Remove underline from links */
}

 .UGSSlogo{
         height:4em; /* Adjust the height of the image */
            vertical-align: middle; /* Align the image with the text */
            border: none; /* Remove any border around the image */
           
           }
 

.company-logo,
.SSlogo,
.BCUlogo,
.NPHSBSlogo,
.UGSSlogo,
.NAYAPATRIKAlogo,
.NASBS a,
.NASBSlogo,
.NPHSBS a{
    transition: transform 0.1s ease-in-out;
}

.company-logo:hover,
.SSlogo:hover,
.BCUlogo:hover,
.NPHSBSlogo:hover,
.UGSSlogo:hover,
.NAYAPATRIKAlogo:hover,
.NASBS a:hover,
.NASBSlogo:hover,
.NPHSBS a:hover {
    transform: scale(1.1);
}


